@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;700&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-additional: 'Bona Nova', serif;

$clr-dark-100: #353535;
$clr-dark-200: #212529;

$clr-light-100: #f8f9fa;
$clr-light-200: #e9ecef;

$clr-additional-100: #ef233c;
$clr-additional-200: #e36414;
$clr-additional-300: #22223b;
$clr-additional-400: #ff006e;
