@use '../abstracts/' as *;

:root {
  font-family: $font-primary;
  color: $clr-light-100;
}

#root {
  padding: 1rem 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $clr-dark-100;
}

// LINKS

a {
  color: $clr-light-100;
  text-decoration: none;
}

// LISTS

ol,
ul {
  list-style: none;
}

// FORMS

.button {
  color: $clr-light-100;
  background: $clr-additional-200;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
}

// CONTAINERS

.container {
  max-width: 100%;
}

.footer {
  margin: 2rem 10rem;
  padding: 2rem;
  border-top: 1px solid $clr-light-200;
}
