@use '../abstracts/' as *;

:root {
  font-family: $font-primary;
  color: $clr-light-100;
}

#root {
  padding: 1rem 2rem;
}

.app {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $clr-dark-100;
}

// LINKS

a {
  color: $clr-light-100;
  text-decoration: none;
}

// LISTS

ol,
ul {
  list-style: none;
}

// FORMS

.button {
  color: $clr-light-100;
  background: $clr-additional-200;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: rgba($clr-additional-200, 0.8);
  }

  &--danger {
    background: $clr-additional-100;
  }
}

input {
  border: none;
}

// CONTAINERS

.container {
  max-width: 100%;
}

.footer {
  margin: 0 10rem;
  padding: 2rem;
  border-top: 1px solid $clr-light-200;
  margin-top: auto;
}

.error {
  color: $clr-light-100;
  background: $clr-additional-100;
  box-shadow: 4px 4px 1px black;
  padding: 1rem;
  margin: 0 auto;
}

// TYPOGRAPHY
p {
  font-size: 0.5rem;

  @media (min-width: 1110px) {
    font-size: 1rem;
  }
}
