@use '../abstracts/' as *;

.browse-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  &__box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

.browse__results {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  min-height: 50vh;
}

.button--browse {
  margin-top: 1rem;
}

.recipe__card {
  text-align: center;
  max-width: 19.5rem;
  height: 20rem;

  &__title {
    padding: 1rem;
    background: rgba($clr-additional-200, 0.5);
  }
}
