@use '../abstracts/' as *;

.browse-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  &__box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

.browse__results {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem;
  min-height: 50vh;
}

.button--browse {
  margin-top: 1rem;
}

.recipe__card {
  text-align: center;
  max-width: 19.5rem;
  background: rgba($clr-additional-400, 0.7);
  box-shadow: 2px 2px 4px 4px $clr-dark-200;
  transition: 0.3s;
  opacity: 0;

  &__image {
    max-height: 20rem;
    max-width: 100%;
  }

  &__title {
    padding: 1rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.input--browse {
  padding: 1ch;
  background: rgba($clr-additional-100, 0.5);
  border-radius: 5px;
  color: $clr-light-100;
  border: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    background: rgba($clr-additional-100, 0.8);
  }
}
