@use '../abstracts/' as *;

.categories {
  text-align: center;
  padding: 0 10rem;
  margin-bottom: 2rem;

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    max-height: 30vh;

    @media (min-width: 1400px) {
      gap: 2rem;
    }
  }

  &__item {
    margin: 0 1rem;
  }
}
