@use '../abstracts/' as *;

.slider {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 10px;

  &__item {
    max-height: 30vh;

    @media (min-width: 500px) {
      max-height: 50vh;
    }

    @media (min-width: 800px) {
      max-height: 80vh;
    }
  }
}

.slider__photo {
  height: 100%;
  width: 100%;
}

.slider__description {
  position: absolute;
  @include center;
  text-align: center;
  background: rgba($clr-additional-200, 0.8);
  padding: 1em;
  box-shadow: 1px 1px 12px $clr-dark-200;
  z-index: 3;
  font-family: $font-additional-200;
  color: $clr-light-200;
}

.slick-arrow {
  display: none !important;
}
