@use '../abstracts/' as *;

.slider {
  position: relative;
  margin-top: 10px;

  &__item {
    height: 50vh;

    @media (min-width: 800px) {
      height: 80vh;
    }
  }
}

.slider__photo {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.slider__description {
  position: absolute;
  @include center;
  text-align: center;
  background: rgba($clr-additional-200, 0.8);
  padding: 1em;
  box-shadow: 1px 1px 12px $clr-dark-200;
  z-index: 3;
}

.slick-arrow {
  display: none !important;
}
